<!--
<div data-template="div-template" data-bind="source: this">
<script id="div-template" type="text/x-kendo-template">
Name: <span data-bind="text: Name"></span>
</script>
</div>
data-model="statusViewModel"
-->
<div data-role="view" id="view-Status" data-title="Status" data-init="statusViewInit" data-show="statusViewShow" data-model="statusViewModel" >
        <ul data-role="listview" id="employee-listview" 
            data-style="inset" data-template="rewordsCardsList-template" data-bind="source: employee">
        </ul>
</div>
<!--
<div id="myTrainerInfo" data-template="rewordsCardsList-template" data-bind="source: employee" >
            
</div>
<div id="statusView" 
data-role="view" data-style="inset" 
data-title="Rewards" data-init="rewardsViewInit" 
data-model="statusViewModel">

<ul id="rewordsCardsList" 
data-role="listview" data-style="inset" 
data-bind="source: employee" data-template="rewordsCardsList-template">
</ul>
</div>
<script>
//init the viewmodel            
var _viewModel = kendo.observable(
{
viewData: []
}
);

function checkAuth(e) {
var id = e.view.params.id;
var name = e.view.params.name;
    
var viewData = 
{
id:id,
name:name
};
    
//set the viewmodel data
_viewModel.set("viewData", viewData);
        
statusViewModel.read({ id: id });
}           
    
</script>
-->

<script type="text/x-kendo-template" id="rewordsCardsList-template">
    <div class="j-listview-item employee">
        <div class="j-listview-item-content">
            <span>Name: Name</span>
            <span>Mobile: </span>
        </div>
    </div>
</script>
        